main {
    columns: 1 !important;
    display: flex !important;
}
.postCol {
    float: left;
    width: 50% !important;
    margin-bottom: 20px;
}
.commentCol {
    float: right;
    width: 50% !important;
}
article {
    position: sticky;
    top: 0;
}

form button {
    border: none;
    background-color: white;
}

@media only screen and (orientation: portrait) {

    main {
        margin-left: 10px;
    }
    h2 {
        font-size: 150% !important;
    }
    p {
        font-size: 100% !important;
    }
    .postCol {
        width: 100% !important;
        
    }
    .commentCol {
        width: 100% !important;
    }
    article {
        position:relative;
    }
}
