main {
    columns: 1 !important;
    display: flex !important;
    padding: 0 2%;
}
.postCol {
    float: left;
    width: 50% !important;
    margin-bottom: 20px;
}
.commentCol {
    float: right;
    width: 50% !important;
}

.commentTime {
    float: right;
}

.profileInfo {
    border-radius: 5px;
}

article {
    position: sticky;
    top: 0;
}

form button {
    border: none;
    background-color: white;
}

article img {
    border-radius: 15px;
}

@media only screen and (orientation: portrait) {

    h2 {
        font-size: 150% !important;
    }
    p {
        font-size: 100% !important;
    }
    .postCol {
        width: 100% !important;
        
    }
    .commentCol {
        width: 100% !important;
    }
    article {
        position:relative;
    }
}
