main {
    margin: calc(40vh + 20px)  0 ;
}

button, #notificationbtn{
    background-color: #226037 !important;
    color: white !important;
    width: 70%;
}

#notificationbtn:hover {
    width: 90%;
}

button:hover {
    width: 90%;
}

.badge {
    border-radius: 50%;
    background: red;
    color: white;
}

.searchBar {
    position: fixed;
    top: 0px;
    width: 80%;
    height: 40%;
    background: white;
    display: flex;
    align-items: center;
    color: #226037;
    overflow: hidden;
}


#profilePic {
    max-height: 30vh;
    border-radius: 50px;
}

@media only screen and (orientation: portrait) {

    .searchBar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 30%;
        background: white;
        display: flex;
        align-items: center;
        border:none;
        margin-top: 10vh;
    }
    #profilePic {
        max-height: none;
    }

}
