main {
margin: 10vh auto 0 auto;
}

.searchBar {
    position: fixed;
    top: 0;
    width: 80%;
    height: 10%;
    background: white;
    display: flex;
    align-items: center;
    border:none
}

.searchBar input {
    background-color: #efefef;
    color: #737373;
    border: none;
}

.searchBar input:focus {
    background-color: #efefef;
    color: #737373;
}

@media only screen and (orientation: portrait) {

    .searchBar {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10%;
        background: white;
        display: flex;
        align-items: center;
        border:none;
        margin-top: 10vh;
        z-index: 0;
    }

    .searchBar input {
        font-size: 4rem;
        border-radius: 50px;
    }

    main {
        margin-top: 20vh;
    }

}