main {
margin: 10vh auto 0 auto;
}

.searchBar {
    position: fixed;
    top: 0;
    width: 80%;
    height: 10%;
    background: white;
    display: flex;
    align-items: center;
    border:none
}

.searchBar input {
    background-color: #efefef;
    color: #737373;
    border: none;
}

.searchBar input:focus {
    background-color: #efefef;
    color: #737373;
}

@media screen and (max-width:600px) {

    .searchBar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 10%;
        background: white;
        display: flex;
        align-items: center;
        border:none;
        margin-top: 10vh;
    }

}